#divPartidos,#inputs,#saldos{
    display: none;
}
.visible{
    display: inherit !important;
}
#confirm{
   display:none;
    float: left;
    z-index: 9999;
    background: #ff3456;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}
#formularioApuesta{
    position: fixed;
}
.novisible{
    display: none;
}
