#fecha{
    border-radius: 1em;
}
.ids{
    display: none !important; 
    width: 10px;
}
#center{
    max-width: 1000px;
    margin: 0 auto;
}
#selecfecha label{
    color: #ffbf00;
    text-shadow: 0 0 3px #000;
}

#center ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
#center h2{
    text-align: center;
    color: #fff;
}
#listpartidos{
    width: 100%;
    overflow: hidden;
}
.fila{
    width: 1000px;
    margin: 0 auto;
}
.celda1{
    width: 500px;
    height: 30px;
    float: left;
    margin: 4px;
    vertical-align: middle;
}
.celda1 label{
    position: relative;
    top: 30%;
}
#encabezado{
    text-align: center;
}
.celda2,.celda3,.celda4,.celda5{
    float: left;
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 4px;
}
.fila label{
    color: #ffbf00;
    text-shadow: 0 0 3px #000;
    font-weight: bold;
}
    

.cuotas{
    max-width: 3em;
    border-radius: .5em;
}
.btn{
    border-radius: 1em;
    background: #ffbf00;
    color: #000;
    font-weight: bold;
}