html{
    background-image: url(../images/Montaje-01.png);
      background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
#login{
    
    border-top: 0.7em solid #58ACFA;
    border-bottom: 0.7em solid #58ACFA;
    background: rgba(182,227,245,1);
    background: -moz-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,227,245,1)), color-stop(17%, rgba(20,179,227,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(7,44,230,1)));
    background: -webkit-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -o-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: linear-gradient(to bottom, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e3f5', endColorstr='#072ce6', GradientType=0 );
    overflow: hidden;
}
#login ul{
    font-family: arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #000;
    list-style-type: none;
    position: absolute;
    text-align: left;
    list-style: none;
    text-decoration: none;
    right: 1em;
    top: 3.5em;
    float: right;
}
#login li{
    width: 228px;
    text-decoration: none;
    display: block;
    float: left;
}
#login #button{
    width: 100px;
}
#login ul li input{
    max-width: 8em;
    border-radius: 0.5em;
    background: #e0e63b;
}
#login ul li button{
    margin: 0 0.5em;
    border-radius: 2em;
    background-color: #ffbf00;
}
#logo{
    background-image: url('../images/Bookiesport_Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}
/*banner*/
#amazingslider-wrapper-1{
    margin: 0em;
    padding: 1em;
    padding-bottom: 2em;
}

footer{
    max-width: 100%;
    margin: 0 auto;
     border-top: 0.7em solid #58ACFA;
    border-bottom: 0.7em solid #58ACFA;
    margin-top: 1em;
    background: rgba(182,227,245,1);
    background: -moz-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,227,245,1)), color-stop(17%, rgba(20,179,227,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(7,44,230,1)));
    background: -webkit-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -o-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    background: linear-gradient(to bottom, rgba(182,227,245,1) 0%, rgba(20,179,227,1) 17%, rgba(41,184,229,1) 50%, rgba(7,44,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e3f5', endColorstr='#072ce6', GradientType=0 );
}
footer img{
    max-width: 200px;
}
footer p{
    float: right;
    max-width: 300px;
    color: #fff;
}
